<!DOCTYPE html>
<html lang="en">
<title>Daniel's Sentence Sentiment Model</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body>
<head>
    <meta charset="UTF-8">
    <title>Words</title>
</head>

<div class="container h-100">
    <br/><br/><br/><br/>
    <a href="/">main page</a>
    <br/><br/>
    <br/>
    <pre>{{ words }}</pre>
</div>
</body>
</html>